
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    padding: 0;

.module_row {
    background: white;
    padding: 5px 10px;
    border-radius: 2px;
    border: 1px solid var(--border-color);
    line-height: 1.5;

    .title {
        font-size: 16px;
    }

    .author {
        color: gray;
        a {
            color: #444;
            &:hover {
                color: #666;
            }
        }
    }

    .main, .summary {
        @include single_line;
    }

    .summary {
        color: gray;
        margin-top: 5px;
        font-size: var(--small-font-size);
    }

    .downloads {
        color: gray;

        .value {
            color: #444;
        }
    }
}
