
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    padding: 0;

.module_row {
    background: var(--white-back-color);
    padding: 5px 10px;
    border-radius: 2px;
    border: 1px solid var(--border-color);
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    gap: 5px;

    .title {
        font-size: 16px;
    }

    .author {
        color: gray;
        a {
            color: #444;
            &:hover {
                color: #666;
            }
        }
    }

    .main {
        display: flex;
        gap: 5px;
    }

    .module_manifests {
        display: flex;
        gap: 5px;

        > a {
            text-decoration: none;
            margin: 0;
            &:hover {
                color: var(--button-fg);
            }
        }
    }

    .dates {
        margin-left: auto;
        color: gray;
        font-size: var(--small-font-size);

        .updated {
            color: #888;
        }
    }

    .main, .summary {
        @include single_line;
    }

    .summary {
        color: gray;
        font-size: var(--small-font-size);
    }

    .downloads {
        color: gray;

        .value {
            color: #444;
        }
    }

    @media (prefers-color-scheme: dark) {
        .author {
            color: #6e7681;

            a {
                color: #8b949e;

                &:hover {
                    color: #a5d6ff;
                }
            }
        }

        .dates {
            color: #6e7681;

            .updated {
                color: #8b949e;
            }
        }

        .summary {
            color: #6e7681;
        }

        .downloads {
            color: #6e7681;

            .value {
                color: #8b949e;
            }
        }
    }
}
