    margin: 0;
    background: white;

    border-bottom: 1px solid $light_border_color;
    padding-top: 15px;


> * {
    &:not(.metadata_columns) {
        @include site_width;
    }

    margin: 15px auto;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

> .page_tabs {
    border-bottom: 0;
    margin-top: 20px;
    .tab {
        position: static;
    }
}

.admin_tools {
    margin-top: 20px;
    box-sizing: border-box;
}

.page_header_inner {
    display: flex;
    align-items: center;

    > * {
        margin-right: 10px;
        &:last-child {
            margin-right: 0;
            &:first-child {
                flex: 1
            }
        }
    }

    .right_tools {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}

h1, p {
    margin: 0;
}

h1 {
    font-size: 32px;

    .sub {
        color: $sub_color;
        font-size: 18px;
        font-weight: normal;
    }
}

.follow_area {
    display: flex;

    > * {
        margin-right: 10px;
        &:last-child {
            margin-right: 0;
        }
    }

    button {
        &:not(:last-child) {
            border-radius: 3px 0 0 3px;
        }
    }

    .followers_count {
        @include border_box;
        border: 1px solid $border_color;
        border-left: 0;
        display: inline-block;
        vertical-align: top;
        padding: 0 10px;
        height: $button_height;
        line-height: $button_height - 2px;
        color: $sub_color;
        background: mix($back_color, white, 50%);
        border-radius: 0 3px 3px 0;
    }
}

.metadata_columns {
    margin-top: 25px;
    border-top: 1px solid $light_border_color;
    white-space: nowrap;

    .metadata_columns_inner {
        @include site_width;
        margin: 0 auto;
    }

    .column {
        @include border_box;
        white-space: normal;
        height: 75px;

        margin-right: 40px;
        border-left: 1px solid $light_border_color;
        display: inline-block;
        vertical-align: top;
        font-size: 18px;
        padding: 15px 0 15px 20px;

        h3 {
            margin-top: 0;
            margin-bottom: 3px;

            font-size: 12px;
            color: $sub_color_light;
            font-weight: bold;
            text-transform: uppercase;
        }

        &:first-child {
            border-left: 0;
            padding-left: 0px;
        }

    }
}


