
img.avatar {
    width: 60px;
    height: 60px;
    vertical-align: top;
    margin-right: 15px;
}

.user_flag {
    vertical-align: 10px;
    margin-left: 15px;
}

h1 {
    margin: 0;
    line-height: 60px;
}

.metadata_columns {
    margin-top: 15px;
}
