
img.avatar {
    width: 60px;
    height: 60px;
    display: block;
    margin: 0;
}

.user_flag {
    margin-left: 0;
    margin-top: 10px;
}

h1 {
    margin: 0;
    line-height: 60px;
}

.metadata_columns {
    margin-top: 15px;
}

.social_links {
    font-size: 24px;
    display: flex;
    align-items: center;
    gap: 12px;

    a {
        text-decoration: none;
        color: color-mix(in srgb, var(--sub-color) 80%, transparent);
        transition: color 0.1s ease;

        &:hover {
            color: var(--link-color)
        }
    }
}
