
img.avatar {
    width: 60px;
    height: 60px;
    vertical-align: top;
    margin-right: 15px;
}

.user_flag {
    vertical-align: 10px;
    margin-left: 15px;
}

h1 {
    margin: 0;
    line-height: 60px;
}

.metadata_columns {
    margin-top: 15px;
}

.social_links {
    float: right;
    font-size: 24px;
    margin-top: 14px;

    a {
        text-decoration: none;
        display: inline-block;
        margin-right: 12px;
        color: rgba($sub_color, 0.8);
        @include transition(color 0.1s ease);

        &:hover {
            color: $link_color
        }
    }
}
