
$margin: 40px;

.main_column {
    min-width: 0;
    max-width: none;
    margin-left: $margin;
    margin-right: $margin;
}

.page_header_widget {
    margin-bottom: 20px;
    & > * {
        min-width: 0;
        max-width: none;
        margin-left: $margin;
        margin-right: $margin;
    }
}

