
.development_group {
    border: 1px solid var(--border-color);
    background: var(--white-back-color);
    padding: 20px;
    margin-bottom: 20px;

    p {
        margin-bottom: 0;
    }

    .sub {
        margin: 5px 0;
        color: var(--sub-color);
    }

    .label {
        font-weight: bold;
    }

    span.label {
        margin-left: 5px;
        display: inline-block;
        vertical-align: middle;
    }

    .wide_row {
        margin: 0 0 20px 0;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.rock_list {
    margin: 0;
    padding: 0;

    .action_buttons {
        float: right;
    }

    .timestamp, .downloads {
        margin-left: 10px;
        color: var(--sub-color);
    }

    .delete_btn {
        background: var(--red-button-color);
        &:hover {
            background: color-mix(in lab, var(--red-button-color), white 10%);
        }

        &:active {
            background: color-mix(in lab, var(--red-button-color), black 10%);
        }
    }

    .arch {
        line-height: var(--button-height);
        border: 1px solid var(--border-color);
        background: var(--white-back-color);
        padding: 10px 20px;
        list-style: none;
        margin: 0 0 10px 0;
    }
}
