
.development_group {
    border: 1px solid $border_color;
    background: white;
    padding: 20px;
    margin-bottom: 20px;

    p {
        margin-bottom: 0;
    }

    .sub {
        margin: 5px 0;
        color: $sub_color;
    }

    .label {
        font-weight: bold;
    }

    span.label {
        margin-left: 5px;
        display: inline-block;
        vertical-align: middle;
    }

    .wide_row {
        margin: 0 0 20px 0;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.rock_list {
    margin: 0;
    padding: 0;

    .action_buttons {
        float: right;
    }

    .timestamp, .downloads {
        margin-left: 10px;
        color: $sub_color;
    }

    .delete_btn {
        background: $red_button_color;
        &:hover {
            background: lighten($red_button_color, 5%);
        }
    }

    .arch {
        line-height: $button_height;
        border: 1px solid $border_color;
        background: white;
        padding: 10px 20px;
        list-style: none;
        margin: 0 0 10px 0;
    }
}
