.home_columns {
    display: flex;
    > * {
        width: 50%;
        margin-right: 5px;
        margin-left: 5px;

        &:last-child {
            margin-right: 0;
        }

        &:first-child {
            margin-left: 0;
        }
    }

    .split_header {
        margin: 0 0 20px 0;
    }
}



.split_header {
    display: flex;
    align-items: center;
    margin: 40px 0 20px 0;

    h2 {
        margin-top: 0;
        margin-bottom: 0;
    }

    > * {
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.announce {
    font-size: 14px;
    margin: 20px 0;
    color: $sub_color;

    .new_tag {
        margin: 0 10px 0 0;
    }
}

.header_sub {
    font-size: $small_font_size;
    margin-left: 5px;
    color: $sub_color_light;
    display: inline-block;
    vertical-align: 4px;

    a {
        color: $sub_color;
    }
}

.intro_banner {
    background: white;
    border-bottom: 1px solid $light_border_color;
    margin-bottom: 30px;
    padding: 25px 0;

    .intro_banner_inner {
        width: $site_width;
        margin: 0 auto;
    }

    img {
        float: left;
        width: 130px;
        height: 124px;
    }

    .intro_text {
        margin-left: 155px;
    }

    p {
        margin: 10px 0;
        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

}



