.home_columns {
    display: flex;
    gap: 10px;

    > * {
        width: 50%;
    }

    .split_header {
        margin: 0 0 20px 0;
    }
}



.split_header {
    display: flex;
    align-items: center;
    margin: 40px 0 20px 0;

    h2 {
        margin-top: 0;
        margin-bottom: 0;
    }

    > * {
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.announce {
    font-size: 14px;
    margin: 20px 0;
    color: var(--sub-color);

    .new_tag {
        margin: 0 10px 0 0;
    }
}

.header_sub {
    font-size: var(--small-font-size);
    margin-left: 5px;
    color: var(--sub-color-light);
    display: inline-block;
    vertical-align: 4px;

    a {
        color: var(--sub-color);
    }
}

.intro_banner {
    background: white;
    border-bottom: 1px solid var(--light-border-color);
    margin-bottom: 30px;
    padding: 25px 0;

    .intro_banner_inner {
        width: var(--site-width);
        margin: 0 auto;
        display: flex;
        gap: 20px;
    }

    img {
        width: 130px;
        height: 124px;
    }

    .intro_text {
        flex: 1;
    }

    p {
        margin: 10px 0;
        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

