.home_columns {
    font-size: 0;

    .column {
        @include grid_cell(4);

        h2 {
            margin-top: 0;
        }
    }
}

.header_sub {
    font-size: $small_font_size;
    margin-left: 5px;
    color: $sub_color_light;
    display: inline-block;
    vertical-align: 4px;

    a {
        color: $sub_color;
    }
}

