
.manifest_list {
    .manifest_row {
        margin: 10px 0;
        background: var(--white-back-color);
        padding: 5px 10px;
        border-radius: 2px;
        border: 1px solid var(--border-color);
        line-height: 1.5;

        .manifest_admins {
            float: right;
            color: var(--sub-color);
        }

        .main {
            display: flex;
            align-items: baseline;
            flex-wrap: wrap;
            gap: 0 8px;
        }

        .title {
            font-size: 16px;
        }

        .modules_count .value {
            margin-left: 4px;
        }

        .open_flag {
            display: inline-block;
            vertical-align: top;
            margin-top: 4px;
            margin-left: 10px;
            text-transform: uppercase;
            font-size: 12px;
            letter-spacing: 0.03em;
            height: 17px;
            line-height: 17px;

            background: var(--tag-color);
            color: var(--button-fg);
            border-radius: 2px;
            padding: 0 4px;
        }

        @media (max-width: 600px) {
            display: flex;
            flex-direction: column;

            .manifest_admins {
                float: none;
                order: 2;
                margin-top: 4px;
            }

            .main {
                order: 1;
                display: block;
            }

            .modules_count {
                display: block;
            }

            .open_flag {
                margin-left: 0;
            }
        }
    }
}
