
.version_list {
    list-style: none;
    margin: 0;
    padding: 0;

    .version_row {
        font-size: 16px;
        margin: 10px 0;
        background: white;
        padding: 5px 10px;
        border-radius: 2px;
        border: 1px solid $border_color;
        line-height: 1.5;
        color: $sub_color_light;

        .author {
            color: #444;
            &:hover {
                color: #666;
            }
        }


        .version_name {
            color: $body_color;
        }

        .created_at {
            color: $sub_color;
            float: right;
            font-size: $small_font_size;
            line-height: $base_font_size * 1.5;
        }

        .development_flag {
            margin: 0 5px;
        }
    }
}
