
.manifest_list {
    .manifest_row {
        margin: 10px 0;
        background: white;
        padding: 5px 10px;
        border-radius: 2px;
        border: 1px solid $border_color;
        line-height: 1.5;

        .manifest_admins {
            float: right;
            color: $sub_color;
        }

        .title {
            font-size: 16px;
        }

        .open_flag {
            display: inline-block;
            vertical-align: top;
            margin-top: 4px;
            margin-left: 10px;
            text-transform: uppercase;
            font-size: 12px;
            letter-spacing: 0.03em;
            height: 17px;
            line-height: 17px;

            background: $tag_color;
            color: white;
            border-radius: 2px;
            padding: 0 4px;
        }
    }
}

