
.version_list {
    list-style: none;
    margin: 0;
    padding: 0;

    .version_row {
        font-size: 16px;
        margin: 10px 0;
        background: var(--white-back-color);
        padding: 5px 10px;
        border-radius: 2px;
        border: 1px solid var(--border-color);
        line-height: 1.5;
        color: var(--sub-color-light);

        .author {
            color: var(--body-color);
            &:hover {
                color: color-mix(in lab, var(--body-color), black 20%);
            }
        }


        .version_name {
            color: var(--body-color);
        }

        .created_at {
            color: var(--sub-color);
            float: right;
            font-size: $small_font_size;
            line-height: $base_font_size * 1.5;
        }

        .development_flag {
            margin: 0 5px;
        }
    }
}
