
.installer {
    width: var(--site-width);
    margin: 15px auto;

    pre {
        margin: 0;
        position: relative;
        padding-left: 95px;

        &:before {
            content: "Install:";
            font-family: var(--font-family);
            font-size: 12px;
            text-transform: uppercase;
            font-weight: bold;

            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            line-height: 48px;
            padding: 0 10px;

            display: inline-block;
            background: rgba(white, 0.2);
            color: rgba(white, 0.6);
        }
    }
}


h3 {
    font-weight: bold;
}

.version_row, .manifest_row, .dependency_row, .label_row {
    margin-bottom: 6px;

    .sub {
        margin-left: 10px;
        color: var(--sub-color);

        a {
            color: color-mix(in lab, var(--sub-color), black 10%);
            &:hover {
                color: color-mix(in lab, var(--sub-color), black 30%);
            }
        }
    }
}

.description {
    margin-top: 30px;
}
