
a.sub {
    color: var(--sub-color);
}

.table {
    font-size: var(--base-font-size);
    margin-bottom: 60px;

    td:first-child, td:nth-child(2) {
        text-align: right;
    }

    tr:nth-child(2n) {
        background: mix(white, #eee, 50%);
    }
}
