.file_uploader {
    background: var(--white-back-color);
    border: 1px solid var(--border-color);
    border-radius: 2px;
    display: inline-block;
    padding: 10px;

    margin-right: 10px;

    strong {
        display: block;
        margin-bottom: 8px;
    }
}

.form_buttons {
    margin-top: 20px;
}
