
$lua_blue: #00257A; // color of lua logo
$back_color: lighten($lua_blue, 72%);
$header_color: lighten(desaturate($lua_blue, 60%), 5%);
$site_width: 800px;
$link_color: #008FEE;
$base_font_size: 14px;
$body_color: #47555C;
$border_color: #C1CCE4;
$line_height: 24px;
$sub_color: mix($body_color, gray, 20%);

@mixin unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

@mixin grad($top, $bottom) {
	background-color: mix($top, $bottom);
	background-image: linear-gradient(bottom, $bottom 0%, $top 100%);
	background-image: -webkit-linear-gradient(bottom, $bottom 0%, $top 100%);
	background-image: -moz-linear-gradient(bottom, $bottom 0%, $top 100%);
	background-image: -o-linear-gradient(bottom, $bottom 0%, $top 100%);
	background-image: -ms-linear-gradient(bottom, $bottom 0%, $top 100%);
}

@mixin autograd($color, $amount: 10%) {
	@include grad($color, darken($color, $amount));
}

@mixin grid_width($size, $divisions: 8, $gutter: 10px) {
    width: #{floor($size * (($site_width - (($divisions - 1) * $gutter)) / $divisions) + ($size - 1) * $gutter)};
}

@mixin grid_cell($size, $divisions: 8, $gutter: 10px) {
    display: inline-block;
    vertical-align: top;
    font-size: $base_font_size;

    @include grid_width($size, $divisions, $gutter);
    margin-right: $gutter;

    &:last-child, &.last {
        margin-right: 0;
    }
}

@mixin single_line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

body {
    color: $body_color;
    font-size: $base_font_size;
    font-family: sans-serif;
    margin: 0;
}

a {
    color: $link_color;
    &:hover {
        color: lighten($link_color, 10%);
    }
}

h1, h2, h3 {
    margin: 20px 0;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}


p {
    line-height: 20px;
    margin: 10px 0 20px 0;

    > code {
        background: darken($back_color, 10%);
        padding: 2px 4px;
        border-radius: 6px;
    }
}

hr {
    height: 1px;
    background: $border_color;
    border: 0;
    margin: 20px 0;
}


.header {
    background: $header_color;

    color: white;
    padding: 10px;
    margin-bottom: 20px;
    line-height: 31px;

    .header_inner {
        width: $site_width;
        margin: 0 auto;
    }

    h1 {
        letter-spacing: 0.025em;
        margin: 0;
        font-size: 22px;
        font-weight: normal;

        a {
            color: desaturate(lighten($header_color, 70%), 50%);
            &:hover {
                text-decoration: none;
            }
        }
    }

    .user_panel {
        float: right;
        font-size: 12px;
    }

    a {
        color: lighten($link_color, 30%);
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

.content {
    background: $back_color;
    border-bottom: 1px solid darken($back_color, 10%);


    h2, h3, h4 {
        font-weight: normal;
    }
}

.main_column {
    width: $site_width;
    margin: 0 auto;
    padding-bottom: 20px;
}

.footer {
    color: #9E9E9E;
    width: $site_width;
    margin: 0 auto;
    padding: 20px 0;
    font-size: 12px;

    a {
        color: #9E9E9E;
    }

    .right {
        float: right;
    }
}

.header_count {
    color: $sub_color;
}

.module_list {
    .module_row {
        margin: 10px 0;
        background: white;
        padding: 5px 10px;
        border-radius: 2px;
        border: 1px solid $border_color;
        line-height: 1.5;

        .title {
            font-size: 16px;
        }

        .author {
            color: gray;
            a {
                color: #444;
                &:hover {
                    color: #666;
                }
            }
        }

        .main, .summary {
            @include single_line;
        }

        .summary {
            color: gray;
            margin-top: 5px;
        }

        .downloads {
            color: gray;

            .value {
                color: #444;
            }
        }
    }
}


.admin_tools {
    $admin_color: #FFCAD9;
    background: $admin_color;
    border: 2px solid white;
    box-shadow: 0 0 0 1px $border_color;
    border-radius: 2px;
    padding: 10px 15px;
    margin: 10px 0;
    font-size: 14px;

    color: #9C445D;

    .label {
        font-weight: bold;
    }

    a {
        color: #D1496F;
    }
}

.manifest_source {
    background: #444;
    padding: 8px;
    font-size: 12px;
    color: white;
    border-radius: 2px;
}


.home_columns {
    font-size: 0;

    .column {
        @include grid_cell(4);

        h2 {
            margin-top: 0;
        }
    }
}

.form {
    .row {
        margin: 5px 0;

        label {
            display: inline-block;
            margin-right: 10px;
            width: 150px;
            font-size: 14px;
            text-align: right;
            color: $sub_color;
        }

    }

    .wide_row {
        margin: 10px 0;

        .label {
            font-size: 14px;
            margin-bottom: 4px;

            .sub {
                color: $sub_color;
            }
        }

        input[type="text"], input[type="password"], input[type="email"] {
            width: 300px;
        }

        textarea {
            width: 600px;
            height: 200px;
        }
    }

    input[type="text"], input[type="password"], input[type="email"], textarea {
        border: 1px solid darken($border_color, 5%);
        box-shadow: 0 0 4px rgba(0,0,0,0.2);
        border-radius: 2px;
        padding: 4px;

        &:focus {
            border-color: darken($border_color, 15%);
            outline: none;
        }
    }

    .button_row {
        margin-top: 10px;
        a {
            color: #666;
            &:hover {
                color: #777;
            }
        }
    }
}

pre {
	background: #323744;
	color: white;
	font-size: 16px;

	padding: 16px 24px;

    border-radius: 2px;

    &.term_snippet {
        font-size: 14px;
    }
}

.about_page {
    p {
        line-height: 24px;
    }
    ul {
        padding-left: 20px;
        line-height: 20px;
    }
}


.table {
    background: white;
    border: 1px solid desaturate(darken($back_color, 30%), 50%);
    box-shadow: 1px 1px 0 desaturate(darken($back_color, 40%), 50%);
    font-size: 14px;

    td {
        padding: 6px 8px;
    }

    thead {
        background: darken($back_color, 10%);
        font-weight: bold;
        color: desaturate(darken($back_color, 60%), 70%);
    }

    .pid {
        text-align: right;
    }

    .mem {
        font-family: monospace;
        text-align: right;
    }

    .time_ago {
        font-style: italic;
        color: #999;
    }
}

img.avatar {
    display: inline-block;
    margin-right: 4px;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background: rgba(0,0,0, 0.15);
}

.external_url {
    word-wrap: break-word;
}

.module_page {
    .module_header {
        margin: 20px 0;

        h2, p {
            margin: 0;
        }

        h2 {
            margin-bottom: 5px;
        }
    }

    .metadata_columns {
        font-size: 0;
        padding: 10px 0;
        border-bottom: 1px solid $border_color;
        border-top: 1px solid $border_color;
        white-space: nowrap;

        .column {
            white-space: normal;

            h3 {
                margin-top: 0;
                margin-bottom: 10px;
            }

            &:first-child {
                border-left: 0;
                padding-left: 0px;
            }

            margin-right: 40px;
            padding-left: 20px;
            border-left: 1px solid $border_color;
            display: inline-block;
            vertical-align: top;
            font-size: $base_font_size;
        }
    }

    .version_row, .manifest_row {
        margin-bottom: 4px;

        .sub {
            margin-left: 10px;
            color: #999;

            a {
                color: #888;
                &:hover {
                    color: darken(#888, 10%);
                }
            }
        }
    }
}


// syntax:

/* builtins */
.nb {
    color: #FFA122;
}

/* strings */
.s, .s1, .s2, .se {
    color: #ffe898;
}

/* proper names, self */
.nc, .vc, .bp {
    color: #98d9ff;
}

/* true, false, nil */
.kc {
    color: #acfff0;
}

/* function lit, braces, parens  */
.nf, .kt {
    color: #9fff98;
}

/* operators */
.o {
    font-weight: bold;
    color: #ff9898;
}

.nv {
    color: #ff9898;
}

/* keywords */
.k, .kd {
    font-weight: bold;
    color: #cb98ff;
}

.c1, .c2 {
    color: #929292;
}

.m, .mi, .mf, .mh {
    color: #9495ff;
}


.pager {
    height: 30px;
    line-height: 30px;
    margin: 20px 0;

    a {
        line-height: 30px;
        height: 30px;
        display: inline-block;
        padding: 0 8px;
        margin-right: 5px;

        background-color: lighten(desaturate($link_color, 10%), 10%);
        color: white;
        text-decoration: none;

        &:hover {
            background-color: lighten(desaturate($link_color, 10%), 15%);
        }

        &:active {
            background-color: lighten(desaturate($link_color, 10%), 8%);
        }
    }

    .pager_label {
        color: lighten($body_color, 10%);
    }
}

.upload_rockspec_page {
    .file_uploader {
        background: white;
        border: 1px solid $border_color;
        border-radius: 2px;
        display: inline-block;
        padding: 10px;

        margin-right: 10px;

        strong {
            display: block;
            margin-bottom: 8px;
        }
    }

    .form_buttons {
        margin-top: 20px;
    }
}


