
$back_color: lighten(#F0E5C9, 10%);
$header_color: #594433;
$site_width: 800px;

@mixin unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

@mixin grad($top, $bottom) {
	background-color: mix($top, $bottom);
	background-image: linear-gradient(bottom, $bottom 0%, $top 100%);
	background-image: -webkit-linear-gradient(bottom, $bottom 0%, $top 100%);
	background-image: -moz-linear-gradient(bottom, $bottom 0%, $top 100%);
	background-image: -o-linear-gradient(bottom, $bottom 0%, $top 100%);
	background-image: -ms-linear-gradient(bottom, $bottom 0%, $top 100%);
}

@mixin autograd($color, $amount: 10%) {
	@include grad($color, darken($color, $amount));
}

body {
    color: #222;
    font-family: sans-serif;
    margin: 0;
}

.header {
    @include autograd($header_color);
    border-top: 2px solid lighten($header_color, 30%);
    box-shadow: inset 0 -1px 0 rgba(255,255,255, 0.4), 0 1px 0 darken($header_color, 10%);

    color: white;
    padding: 10px;

    .header_inner {
        width: $site_width;
        margin: 0 auto;
    }

    h1 {
        letter-spacing: -1px;
        text-shadow: -1px -1px 0 black;
        margin: 0;
        font-size: 18px;
        font-weight: normal;

        a {
            color: scale_color($header_color, $lightness: 90%);
            &:hover {
                text-decoration: none;
            }
        }
    }

    .user_panel {
        float: right;
    }

    a {
        color: #DAF249;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

.content {
    background: $back_color;
    border-bottom: 1px solid darken($back_color, 10%);
}

.main_column {
    width: $site_width;
    margin: 0 auto;
    padding: 20px 0;
}

.footer {
    color: silver;
    width: $site_width;
    margin: 0 auto;
    padding: 20px 0;
    font-size: 12px;
}


