@import "common";

body {
    color: $body_color;
    font-size: $base_font_size;
    font-family: $font_family;
    margin: 0;
}

a {
    color: $link_color;
    &:hover {
        color: lighten($link_color, 10%);
    }
}

h1, h2, h3 {
    margin: 40px 0 20px 0;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

button, input[type='submit'], .button {
    display: inline-block;
    text-decoration: none;
    background: $button_color;
    line-height: 35px;
    height: 35px;
    padding: 0 30px;
    font-size: $base_font_size;
    font-family: 'Open Sans', sans-serif;
    border: 0;
    border-radius: 3px;
    color: #FFF;
    cursor: pointer;


    &:hover {
        background-color: lighten($button_color, 5%);
        color: white;
    }

    &:active {
        background-color: darken($button_color, 5%);
    }
}

.round_button {
    @include transition(all 0.2s ease);
    opacity: 0.8;
    display: inline-block;
    border: 1px solid rgba($link_color, 0.8);
    border-radius: 15px;
    text-decoration: none;
    background: none;
    padding: 2px 12px;
    font-size: $small_font_size;

    &:hover {
        color: white;
        opacity: 1;
        background: $link_color;
    }
}

input {
    font-family: 'Open Sans', sans-serif;
    font-size: $base_font_size;
}

p {
    line-height: 1.5;
    margin: 20px 0;

    > code {
        background: rgba(#446, 0.1);
        padding: 2px 4px;
        border-radius: 6px;
    }
}

hr {
    height: 1px;
    background: $border_color;
    border: 0;
    margin: 20px 0;
}


.header {
    background: $header_color;
    height: 55px;
    color: white;

    .header_inner {
        @include site_width;
        margin: 0 auto;
        height: 100%;
        display: flex;
        align-items: center;

        > * {
            margin: 0 10px;
            &:last-child {
                margin-right: 0;
            }

            &:first-child {
                margin-left: 0;
            }
        }
    }

    .header_search {
        flex: 1;
        max-width: 400px;

        input[type=text] {
            border: 0;
            font-size: 14px;
            padding: 8px 10px;
            border-radius: 4px;
            background: $back_color;
            color: #666;
            width: 100%;
            box-sizing: border-box;

            &:focus {
                outline: none;
                box-shadow: 0 0 5px rgba(0,0,0,0.4);
            }
        }

    }

    .user_panel {
        font-size: $small_font_size;
        flex: 1;
        text-align: right;
        display: flex;
        justify-content: flex-end;
        align-content: center;

        > * {
            margin-left: 12px;
            &:first-child {
                margin-left: 0;
            }
        }

        .unread_notifications {
            background: white;
            height: 22px;
            line-height: 22px;
            color: $link_color;
            padding: 0 8px;

            border-radius: 18px;
            &:hover {
                color: $link_color;
            }
        }

        a {
            color: lighten($link_color, 30%);
            text-decoration: none;
            font-weight: bold;

            &:hover {
                color: lighten($link_color, 50%);
            }
        }
    }

    .text_logo {
        width: 150px;
        vertical-align: top;
    }

    .icon_logo {
        width: 45px;
        height: 45px;
        margin-top: 2px;
    }
}

.errors {
    color: $error_color;
}

.content {
    background: $back_color;
    border-bottom: 1px solid $light_border_color;
}

.main_column {
    @include site_width;
    margin: 0 auto;
    padding-bottom: 40px;
}

.footer {
    color: #9E9E9E;
    width: $site_width;
    margin: 0 auto;
    padding: 20px 0;
    font-size: 12px;

    a {
        color: #9E9E9E;
    }

    .right {
        float: right;
    }
}

.sub_footer {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;

    span {
        display: block;
        color: rgb(180, 180, 180);
        font-size: 0.7em;
        font-weight: bold;
        text-transform: uppercase;
    }

    img {
        margin-top: 5px;
        opacity: 0.8;
        -webkit-filter: grayscale(100%);
        @include transition(all 0.2s ease);

        &:hover {
            opacity: 1;
            -webkit-filter: grayscale(0%);
        }
    }

}

.header_count {
    color: $sub_color;
}

.admin_tools {
    $admin_color: #FFCAD9;
    background: $admin_color;
    border: 2px solid white;
    box-shadow: 0 0 0 1px $border_color;
    border-radius: 2px;
    padding: 10px 15px;
    margin-top: 20px;
    font-size: 14px;

    color: #9C445D;

    .label {
        font-weight: bold;
    }

    a {
        color: #D1496F;
    }
}

.manifest_source {
    background: #444;
    padding: 8px;
    font-size: 12px;
    color: white;
    border-radius: 2px;
}



.form {
    .row {
        margin: 10px 0;

        label {
            display: inline-block;
            margin-right: 10px;
            width: 200px;
            text-align: right;
            color: $sub_color;
        }

        textarea {
            width: 50%;
            @include border_box;
            vertical-align: top;
            height: 100px;
        }

    }

    .wide_row {
        margin: 10px 0;

        .label {
            font-size: 14px;
            margin-bottom: 4px;

            .sub {
                color: $sub_color;
            }
        }

        input[type="text"], input[type="password"], input[type="email"] {
            width: 300px;
        }

        textarea {
            width: 600px;
            height: 200px;
        }
    }

    input[type="text"], input[type="password"], input[type="email"], textarea {
        @include input_style;
    }

    .selectize-input {
        width: 300px;
        @include input_style;
    }

    .button_row {
        margin-top: 20px;

        a {
            color: #666;
            &:hover {
                color: #777;
            }
        }
    }
}

pre {
	background: #323744;
	color: white;
	font-size: 16px;

	padding: 16px 24px;

    border-radius: 2px;

    &.term_snippet {
        font-size: 14px;
    }
}

.table {
    background: white;
    border: 1px solid desaturate(darken($back_color, 30%), 50%);
    box-shadow: 1px 1px 0 desaturate(darken($back_color, 40%), 50%);
    font-size: 14px;
    margin: 20px 0;

    &.field_table {
        tr > td:first-child {
            text-align: right;
        }
    }

    td {
        padding: 6px 8px;
    }

    thead {
        background: darken($back_color, 10%);
        font-weight: bold;
        color: desaturate(darken($back_color, 60%), 70%);
    }

    .pid {
        text-align: right;
    }

    .mem {
        font-family: monospace;
        text-align: right;
    }

    .time_ago {
        font-style: italic;
        color: #999;
    }
}

img.avatar {
    display: inline-block;
    margin-right: 4px;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background: rgba(0,0,0, 0.15);
}

.external_url {
    word-wrap: break-word;
}


// syntax:

/* builtins */
.nb {
    color: #FFA122;
}

/* strings */
.s, .s1, .s2, .se {
    color: #ffe898;
}

/* proper names, self */
.nc, .vc, .bp {
    color: #98d9ff;
}

/* true, false, nil */
.kc {
    color: #acfff0;
}

/* function lit, braces, parens  */
.nf, .kt {
    color: #9fff98;
}

/* operators */
.o {
    font-weight: bold;
    color: #ff9898;
}

.nv {
    color: #ff9898;
}

/* keywords */
.k, .kd {
    font-weight: bold;
    color: #cb98ff;
}

.c1, .c2 {
    color: #929292;
}

.m, .mi, .mf, .mh {
    color: #9495ff;
}

.pager {
    height: 30px;
    line-height: 30px;
    margin: 20px 0;

    a {
        margin-right: 5px;
    }

    .pager_label {
        color: lighten($body_color, 10%);
    }
}

.page_tabs {
    border-bottom: 1px solid $border_color;
    margin-bottom: 40px;

    .tab, .tab_sub {
        font-size: 16px;
        padding-bottom: 5px;
        display: inline-block;
        vertical-align: top;
        position: relative;
        top: 1px;
    }

    .tab_sub {
        color: #999;
        margin-right: 40px;
    }

    .tab {
        @include transition(all 0.2s ease);
        color: $body_color;
        text-decoration: none;
        border-bottom: 1px solid rgba($link_color, 0);
        margin-right: 40px;

        &.has_sub {
            margin-right: 0px;
        }

        &.active, &:hover {
            color: $link_color;
            border-bottom: 1px solid rgba($link_color, 1);
        }
    }
}

.development_flag, .new_tag, .user_flag, .archive_flag {
    display: inline-block;
    vertical-align: 2px;
    font-weight: bold;
    margin-left: 10px;
    text-transform: uppercase;
    font-size: 12px;
    height: 17px;
    line-height: 17px;
    letter-spacing: 0.03em;

    background: $tag_color;
    color: white;
    border-radius: 2px;
    padding: 0 4px;

    &.archive_flag {
        background: rgba(black, 0.1);
        color: rgba(black, 0.5);
    }
}

.graph_container {
    height: 180px;
    margin-bottom: 40px;
    margin-left: -50px;

    .axis {
        path, line {
            fill: none;
            stroke: darken($border_color, 10%);
            shape-rendering: crispEdges;
        }

        text {
            fill: $sub_color;
        }
    }

    .x_guides, .y_guides {
        stroke: lighten($border_color, 5%);
        fill: none;
        shape-rendering: crispEdges;
    }

    .graph {
        path {
            fill: rgba($header_color, 0.3);
            stroke: rgba($header_color, 0.8);
        }
    }

    .dots {
        circle {
            fill: lighten($back_color, 5%);
            stroke: $header_color;
        }
    }
}


